@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboards";
}

<h2>@ViewData["Title"]</h2>
<div class="flex d-flex gap-3">
    <br />
    <form id="dataForm" class="needs-validation" novalidate>
        <div class="d-flex gap-3 align-items-center">
            <div>
                <label for="Machine" class="form-label">Maquina</label>
                <select asp-for="Machine" class="form-control" id="machine">
                    @foreach (var id in @ViewBag.MaquinaIds)
                    {
                        <option value="@id">@id</option>
                    }
                </select>
            </div>
            <div>
                <label for="Offset" class="form-label">Offset</label>
                <input asp-for="Offset" type="text" class="form-control" id="offset" required>
            </div>
            <div class="mt-4">
                <button type="submit" id="loadChartButton" class="rounded-pill btn btn-lg btn-outline-info">Gráfico Histórico</button>
            </div>
        </div>
    </form>
    <div></div>
    <div class="mt-4">
        <button id="loadLiveChartButton" class="rounded-pill btn btn-lg btn-outline-info">Gráfico Ao Vivo</button>
    </div>
</div>
<br />

<div id="chartContainer">
    <!-- Partial view do gráfico histórico será carregada aqui -->
</div>

<div id="liveChartContainer">
    <!-- Partial view do gráfico ao vivo será carregada aqui -->
</div>

<script>
    function validateInput(input) {
        input.value = input.value.replace(/\D/g, '');
        if (input.value.length > 3) {
            input.value = input.value.slice(0, 3);
        }
    }
</script>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataForm').on('submit', function (event) {
                event.preventDefault(); // Evita o envio padrão do formulário

                // Captura os dados do formulário
                var formData = $(this).serialize();

                console.log("chamou ajax para gráfico histórico com dados:", formData);

                $.ajax({
                    url: '@Url.Action("GetTemperatura1000", "Dashboard")',
                    type: 'GET',
                    data: formData,
                    success: function (data) {
                        $('#chartContainer').html(data);
                        console.log("Partial view do gráfico histórico carregada"); // Log para depuração
                    },
                    error: function (xhr, status, error) {
                        console.error("Ocorreu um erro ao carregar o gráfico histórico:", error);
                        $('#chartContainer').html("<p>Ocorreu um erro ao carregar o gráfico histórico.</p>");
                    }
                });
            });

            $('#loadLiveChartButton').click(function () {
                console.log("chamou ajax para gráfico ao vivo");
                $.ajax({
                    url: '@Url.Action("GetGraficoAoVivo", "Dashboard")',
                    type: 'GET',
                    success: function (data) {
                        $('#liveChartContainer').html(data);
                        console.log("Partial view do gráfico ao vivo carregada"); // Log para depuração
                    },
                    error: function (xhr, status, error) {
                        console.error("Ocorreu um erro ao carregar o gráfico ao vivo:", error);
                        $('#liveChartContainer').html("<p>Ocorreu um erro ao carregar o gráfico ao vivo.</p>");
                    }
                });
            });
        });
    </script>
}
